.control {
  position: relative;
}

.control__label {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--c-secondary-black);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
  }
}

.control__mark {
  position: absolute;
  top: -50%;
  left: -45px;

  width: 30px;
  height: 30px;

  box-shadow: inset 0 0 0 1px var(--c-special-gray);
  background-color: var(--c-white-default);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -43px;
    top: -84%;
  }
}

.control__input[type="radio"] + .control__mark {
  box-shadow: inset 0 0 0 1px var(--c-special-gray);
  border-radius: 50%;
}

.control__mark:hover {
  box-shadow: inset 0 0 0 1px #bababa;
}

.control__input:focus + .control__mark {
  outline: 2px solid;
  outline-offset: 2px;
}

.control__input[type="radio"] {
  &:checked + .control__mark {
    background-image: url("../img/sprite.svg#radiobutton-active");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: top 8px left 8px;

    @media (min-width: $tablet-width) {
      background-size: 18px 18px;
      background-position: top 11px left 11px;
    }
  }
}

.control__input:disabled ~ span {
  opacity: 0.3;
}


.control__input[type="checkbox"] {
  &:checked + .control__mark {
    background-image: url("../img/sprite.svg#check-mark");
    background-repeat: no-repeat;
    background-size: 19px 15px;
    background-position: top 8px left 6px;

    @media (min-width: $tablet-width) {
      background-size: 24px 19px;
      background-position: top 11px left 8px;
    }
  }
}
