.demo-cat {
  background-color: var(--c-light-gray);

  @media (min-width: $tablet-width) {
    padding: 43px 30px 0;
    background: linear-gradient(var(--c-white-default) 57%, var(--c-basic-gray) 57% 43%);
    position: relative;
    padding-bottom: 101px;

    &::before {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    padding: 34px 30px 0;
    background: linear-gradient(var(--c-white-default) 27%, var(--c-basic-gray) 27% 73%);

    &::before {
      display: none;
    }
  }
}

.demo-cat__wrapper {
  margin: 0 auto;
  padding: 27px 20px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1220px;
  }
}

.demo-cat__container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 103px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    flex-direction: column;
  }
}

.demo-cat__title {
  margin: 0;
  margin-bottom: 23px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    font-size: 60px;
    line-height: 60px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 125px;
  }
}

.demo-cat__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    flex-grow: 1;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-bottom: 49px;
  }
}

.demo-cat__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 34px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 42px;
  }
}

.demo-cat__number {
  padding: 15px 15px 17px;
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 24px;
  color: var(--c-black);
  text-transform: uppercase;
  box-shadow: inset 0 0 0 1px var(--c-special-gray);
  border-radius: 3px;
  width: 124px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 15px 15px 20px;
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }
}

.demo-cat__description {
  position: absolute;
  top: 47px;
  right: 18px;
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
  line-height: 12px;
  width: 87px;
  text-align: center;
  background-color: var(--c-light-gray);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: var(--c-white-default);
    top: 63px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 142px;
  }

  @media (min-width: $desktop-width) {
    background-color: var(--c-basic-gray);
  }
}

.demo-cat__price {
  margin: 0;
  margin-top: 14px;
  font-family: var(--accent-font);
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: var(--c-black);

  p {
    margin: 0;
    margin-right: 4px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    width: 174px;
    align-items: flex-end;
    flex-direction: column;

    p {
      margin-bottom: 9px;
      margin-right: 0;
    }

    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    margin-top: 40px;
    margin-left: 0;
    flex-direction: row;

    p {
      margin-bottom: 0;
      margin-right: auto;
    }
  }
}

.demo-cat__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
