.item-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.item-content__lable {
  flex-shrink: 0;
  max-width: 94px;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 117px;
  }
}

.item-content__input {
  padding: 12px 20px 9px;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--c-dark-gray);
  border: none;
  box-shadow: inset 0 0 0 1px #e7e7e7;
  width: 100%;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--c-special-gray);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--c-dark-gray);
  }

  &:disabled {
    background-color: var(--c-light-gray);
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 70px;
  }
}

.item-content__icon {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  background-color: var(--c-black);
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    right: 20px;
  }

  &--email {
    width: 18px;
    height: 14px;
    mask-image: url("../img/sprite.svg#email");
    mask-size: 16px 16px;
  }

  &--phone {
    width: 16px;
    height: 16px;
    mask-image: url("../img/sprite.svg#phone");
  }
}

.item-content__input:focus + .item-content__icon {
  background-color: var(--c-basic-green);
}

.item-content__input:invalid:not(:placeholder-shown) {
  box-shadow: inset 0 0 0 1px var(--c-error-red);

  + .item-content__icon {
    background-color: var(--c-error-red);
  }
}
