.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  top: -65px;
  right: 0;
  z-index: 1;
  display: block;
  width: 64px;
  height: 65px;
  background-color: var(--c-white-default);
  border: none;
  cursor: pointer;

  &:active {
    background-color: var(--c-basic-gray);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 24px;
    height: 1px;
    background-color: var(--c-black);
    box-shadow: 0 8px 0 0 var(--c-black), 0 16px 0 0 var(--c-black);
    content: "";
    z-index: 2;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 1px;
    background-color: var(--c-black);
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: var(--c-basic-gray);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed li {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
