.page-footer {
  padding: 40px 20px;
  background-color: var(--c-basic-gray);

  @media (min-width: $tablet-width) {
    padding: 54px 30px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 0 72px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 44px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    top: 106px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-footer__logo {
  cursor: pointer;

  &:hover,
  &:focus .page-footer__logo-img {
    opacity: 0.7;
  }

  &:active .page-footer__logo-img {
    opacity: 0.6;
  }
}

.page-footer__logo-img {
  @media (min-width: $tablet-width) {
    width: 143px;
    height: 26px;
  }
}
