.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 22px;
  }
}

.social__item--telegram {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.social__link {
  display: flex;
  padding: 13px;
}

.social__picture {
  fill: #666666;

  .social__link:hover & {
    fill: var(--c-basic-green);
  }

  .social__link:active & {
    opacity: 0.3;
  }
}
