{% extends "../main.twig" %}

{% block main %}
	<h1 class="visually-hidden">Каталог товаров для котиков интернет магазина Cat-Energy.</h1>

	<section class="catalog-cards">
		<h2 class="catalog-cards__title main-title">Каталог продукции</h2>
		<ul class="catalog-cards__list">
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-1-tablet@1x.webp 1x, img/catalog-1-tablet@2x.webp 2x" width="161" height="171">
						<source type="image/webp" srcset="img/catalog-1@1x.webp 1x, img/catalog-1-mobile@2x.webp 2x">
						<source media="(min-width: 768px)" srcset="img/catalog-1-tablet@1x.png 1x, img/catalog-1-tablet@2x.png 2x" width="161" height="171">
						<img class="card__image" src="img/catalog-1.png" srcset="img/catalog-1-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy PRO 500 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">500 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Курица</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">700 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 1440px)" srcset="img/catalog-2-desktop@1x.webp 1x, img/catalog-2-desktop@2x.webp 2x" width="172" height="196">
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-2-tablet@1x.webp 1x, img/catalog-2-tablet@2x.webp 2x" width="168" height="206">
						<source type="image/webp" srcset="img/catalog-2@1x.webp 1x, img/catalog-2-mobile@2x.webp 2x">
						<source media="(min-width: 1440px)" srcset="img/catalog-2-desktop@1x.png 1x, img/catalog-2-desktop@2x.png 2x" width="172" height="196">
						<source media="(min-width: 768px)" srcset="img/catalog-2-tablet@1x.png 1x, img/catalog-2-tablet@2x.png 2x" width="168" height="206">
						<img class="card__image" src="img/catalog-2.png" srcset="img/catalog-2-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy PRO 1000 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">1000 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Курица</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">1000 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-3-tablet@1x.webp 1x, img/catalog-3-tablet@2x.webp 2x" width="161" height="171">
						<source type="image/webp" srcset="img/catalog-3@1x.webp 1x, img/catalog-3-mobile@2x.webp 2x">
						<source media="(min-width: 768px)" srcset="img/catalog-3-tablet@1x.png 1x, img/catalog-3-tablet@2x.png 2x" width="161" height="171">
						<img class="card__image" src="img/catalog-3.png" srcset="img/catalog-3-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy PRO 500 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">500 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Рыба</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">700 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 1440px)" srcset="img/catalog-4-desktop@1x.webp 1x, img/catalog-4-desktop@2x.webp 2x" width="172" height="196">
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-4-tablet@1x.webp 1x, img/catalog-4-tablet@2x.webp 2x" width="168" height="206">
						<source type="image/webp" srcset="img/catalog-4@1x.webp 1x, img/catalog-4-mobile@2x.webp 2x">
						<source media="(min-width: 1440px)" srcset="img/catalog-4-desktop@1x.png 1x, img/catalog-4-desktop@2x.png 2x" width="172" height="196">
						<source media="(min-width: 768px)" srcset="img/catalog-4-tablet@1x.png 1x, img/catalog-4-tablet@2x.png 2x" width="168" height="206">
						<img class="card__image" src="img/catalog-4.png" srcset="img/catalog-4-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy PRO 1000 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">1000 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Рыба</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">1000 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-5-tablet@1x.webp 1x, img/catalog-5-tablet@2x.webp 2x" width="161" height="171">
						<source type="image/webp" srcset="img/catalog-5@1x.webp 1x, img/catalog-5-mobile@2x.webp 2x">
						<source media="(min-width: 768px)" srcset="img/catalog-5-tablet@1x.png 1x, img/catalog-5-tablet@2x.png 2x" width="161" height="171">
						<img class="card__image" src="img/catalog-5.png" srcset="img/catalog-5-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy SLIM 500 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">500 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Гречка</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">400 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 1440px)" srcset="img/catalog-6-desktop@1x.webp 1x, img/catalog-6-desktop@2x.webp 2x" width="172" height="196">
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-6-tablet@1x.webp 1x, img/catalog-6-tablet@2x.webp 2x" width="168" height="206">
						<source type="image/webp" srcset="img/catalog-6.webp 1x, img/catalog-6-mobile@2x.webp 2x">
						<source media="(min-width: 1440px)" srcset="img/catalog-6-desktop@1x.png 1x, img/catalog-6-desktop@2x.png 2x" width="172" height="196">
						<source media="(min-width: 768px)" srcset="img/catalog-6-tablet@1x.png 1x, img/catalog-6-tablet@2x.png 2x" width="168" height="206">
						<img class="card__image" src="img/catalog-6.png" srcset="img/catalog-6-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy SLIM 1000 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">1000 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Гречка</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">700 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card">
				<a class="card__link" href="#">
					<picture>
						<source type="image/webp" media="(min-width: 768px)" srcset="img/catalog-7-tablet@1x.webp 1x, img/catalog-7-tablet@2x.webp 2x" width="161" height="171">
						<source type="image/webp" srcset="img/catalog-7@1x.webp 1x, img/catalog-7-mobile@2x.webp 2x">
						<source media="(min-width: 768px)" srcset="img/catalog-7-tablet@1x.png 1x, img/catalog-7-tablet@2x.png 2x" width="161" height="171">
						<img class="card__image" src="img/catalog-7.png" srcset="img/catalog-7-mobile@2x.png" width="140" height="112" alt="">
					</picture>
				</a>
				<a class="card__link" href="#">
					<h3 class="card__title">Cat Energy SLIM 500 г</h3>
				</a>
				<table class="card__description-list">
					<tr class="card__desc-row">
						<td class="card__desc-term">Масса</td>
						<td class="card__desc-definition">500 г</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Вкус</td>
						<td class="card__desc-definition">Рис</td>
					</tr>
					<tr class="card__desc-row">
						<td class="card__desc-term">Цена</td>
						<td class="card__desc-definition">500 &#8381;</td>
					</tr>
				</table>
				<a class="card__order-link button" href="#">Заказать</a>
			</li>
			<li class="catalog-cards__item card catalog-cards__item--more">
				<div class="catalog-cards__show-all">
					<h3 class="catalog-cards__heading">Показать еще 100500 товаров</h3>
					<p class="catalog-cards__description">На самом деле вкусов гораздо больше!</p>
					<a class="catalog-cards__link button" href="#">Показать все</a>
				</div>
			</li>
		</ul>
	</section>

	<section class="catalog-extra">
		<div class="catalog-extra__container">
			<h2 class="catalog-extra__title">Дополнительные товары</h2>
			<ul class="catalog-extra__list">
				<li class="catalog-extra__item">
					<h3 class="catalog-extra__heading">Сахарозаменитель</h3>
					<dl class="catalog-extra__description-list">
						<dt class="catalog-extra__desc-term">1 упаковка (100 г)</dt>
						<dd class="catalog-extra__desc-definition">200 &#8381;</dd>
					</dl>
					<a class="catalog-extra__order-link button" href="#">Заказать</a>
				</li>
				<li class="catalog-extra__item">
					<h3 class="catalog-extra__heading">Питьевая вода</h3>
					<dl class="catalog-extra__description-list">
						<dt class="catalog-extra__desc-term">5 литров</dt>
						<dd class="catalog-extra__desc-definition">50 &#8381;</dd>
					</dl>
					<a class="catalog-extra__order-link button" href="#">Заказать</a>
				</li>
				<li class="catalog-extra__item">
					<h3 class="catalog-extra__heading">Молоко</h3>
					<dl class="catalog-extra__description-list">
						<dt class="catalog-extra__desc-term">1 литр</dt>
						<dd class="catalog-extra__desc-definition">100 &#8381;</dd>
					</dl>
					<a class="catalog-extra__order-link button" href="#">Заказать</a>
				</li>
				<li class="catalog-extra__item">
					<h3 class="catalog-extra__heading">Витамины</h3>
					<dl class="catalog-extra__description-list">
						<dt class="catalog-extra__desc-term">1 упаковка (30 г)</dt>
						<dd class="catalog-extra__desc-definition">300 &#8381;</dd>
					</dl>
					<a class="catalog-extra__order-link button" href="#">Заказать</a>
				</li>
			</ul>
			<div class="catalog-extra__bonus">
				<div class="catalog-extra__wrapper">
					<p class="catalog-extra__text">Закажите все
						<br>
						и&nbsp;получите чехол для кота в подарок!</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
