{% extends "../main.twig" %}

{% block main %}
	<main class="main">
		<h1 class="visually-hidden">Интернет магазин для котиков интернет магазина Cat-Energy.</h1>

		<section class="promo">
			<div class="promo__wrapper">
				<div class="promo__container">
					<h2 class="promo__title main-title">Функциональное<br>
						питание для котов</h2>
					<p class="promo__slogan">Занялся собой? Займись котом!</p>
				</div>
				<picture>
					<source type="image/webp" media="(min-width: 1440px)" srcset="img/index-can-desktop@1x.webp 1x, img/index-can-desktop@2x.webp 2x" width="552" height="499">
					<source type="image/webp" media="(min-width: 768px)" srcset="img/index-can-tablet@1x.webp 1x, img/index-can-tablet@2x.webp 2x" width="709" height="609">
					<source type="image/webp" srcset="img/index-can-mobile@1x.webp 1x, img/index-can-mobile@2x.webp 2x">
					<source media="(min-width: 1440px)" srcset="img/index-can-desktop@1x.png 1x, img/index-can-desktop@2x.png 2x" width="552" height="499">
					<source media="(min-width: 768px)" srcset="img/index-can-tablet@1x.png 1x, img/index-can-tablet@2x.png 2x" width="709" height="609">
					<img class="promo__image" src="img/index-can-mobile.png" srcset="img/index-can-mobile@2x.png" width="280" height="270" alt="Фирменная упаковка с питанием Cat Energy.">
				</picture>
				<a class="promo__button button" href="form.html">Подобрать программу</a>
			</div>
		</section>

		<section class="programm">
			<div class="programm__wrapper">
				<h2 class="visually-hidden">Выбор программы питания.</h2>
				<ul class="programm__list">
					<li class="programm__item programm__item--slim">
						<h3 class="programm__title">Похудение</h3>
						<p class="programm__description">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p>
						<a class="programm__link" href="#">Каталог Slim</a>
					</li>
					<li class="programm__item programm__item--strong">
						<h3 class="programm__title">Набор массы</h3>
						<p class="programm__description">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
						<a class="programm__link" href="#">Каталог Pro</a>
					</li>
				</ul>
			</div>
		</section>

		<section class="advantages">
			<div class="advantages__wrapper">
				<h2 class="advantages__title main-title">Как это работает</h2>
				<ul class="advantages__list">
					<li class="advantages__item advantages__item--healthy">Функциональное питание содержит только&nbsp;полезные питательные вещества.</li>
					<li class="advantages__item advantages__item--making">Выпускается&nbsp;в&nbsp;виде&nbsp;порошка, который нужно лишь залить кипятком и готово.</li>
					<li class="advantages__item advantages__item--feeding">Замените один-два приема обычной еды на наше функциональное питание.</li>
					<li class="advantages__item advantages__item--effect">Уже&nbsp;через&nbsp;месяц наслаждайтесь изменениями к лучшему
						<br>
						вашего питомца!</li>
				</ul>
			</div>
		</section>

		<section class="demo-cat">
			<div class="demo-cat__wrapper">
				<div class="demo-cat__container">
					<h2 class="demo-cat__title main-title">Живой пример</h2>
					<p class="demo-cat__text">Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.</p>
					<dl class="demo-cat__list">
						<div class="demo-cat__item">
							<dt class="demo-cat__number">5 кг</dt>
							<dd class="demo-cat__description">снижение веса</dd>
						</div>
						<div class="demo-cat__item">
							<dt class="demo-cat__number">60 дней</dt>
							<dd class="demo-cat__description">затрачено времени</dd>
						</div>
					</dl>
					<div class="demo-cat__price">
						<p>Затраты на питание:</p>
						<span>15 000 РУБ.</span>
					</div>
				</div>
				<div class="demo-cat__slider slider">
					<div class="slider__pictures">
						<div class="slider__picture-wrapper slider__picture-wrapper--fat">
							<picture>
								<source type="image/webp" media="(min-width: 768px)" srcset="img/viewport-tablet-state-before@1x.webp 1x, img/viewport-tablet-state-before@2x.webp 2x" width="560" height="512">
								<source type="image/webp" srcset="img/slider-cat-fat@1x.webp 1x, img/viewport-mobile-state-before@2x.webp 2x">
								<source media="(min-width: 768px)" srcset="img/viewport-tablet-state-before@1x.png 1x, img/viewport-tablet-state-before@2x.png 2x" width="560" height="512">
								<img class="slider__image" src="img/slider-cat-fat.png" srcset="img/viewport-mobile-state-before@2x.png" width="280" height="256" alt="Кот Борис с лишним весом до Кэт энерджи.">
							</picture>
						</div>
						<div class="slider__picture-wrapper slider__picture-wrapper--slim">
							<picture>
								<source type="image/webp" media="(min-width: 768px)" srcset="img/viewport-tablet-state-after@1x.webp 1x, img/viewport-tablet-state-after@2x.webp 2x" width="560" height="512">
								<source type="image/webp" srcset="img/slider-cat-slim@1x.webp 1x, img/viewport-mobile-state-after@2x.webp 2x">
								<source media="(min-width: 768px)" srcset="img/viewport-tablet-state-after@1x.png 1x, img/viewport-tablet-state-after@2x.png 2x" width="560" height="512">
								<img class="slider__image" src="img/slider-cat-slim.png" width="280" height="256" srcset="img/viewport-mobile-state-after@2x.png" alt="Кот Борис стройный после Кэт энерджи.">
							</picture>
						</div>
					</div>
					<div class="slider__controls">
						<span class="slider__bar"></span>
						<button class="slider__button" type="button">
							<span class="visually-hidden">Вперед/Назад.</span>
						</button>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
