<section class="contacts">
	<div class="contacts__wrapper">
		<div class="contacts__container">
			<h2 class="visually-hidden">Контакты.</h2>
			<p class="contacts__lead">Приглашаем к&nbsp;сотрудничеству дилеров!</p>
			<div class="contacts__address">
				<p>ул. Большая Конюшенная, д. 19/8</p>
				<span class="contacts__city">Санкт-Петербург</span>
			</div>
		</div>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037876728547!2d30.320472477096974!3d59.93871647491513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1682255239434!5m2!1sru!2sru" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
