<footer class="page-footer">
	<div class="page-footer__wrapper">
		<a class="page-footer__logo">
			<img class="page-footer__logo-img" src="img/logo-text.svg" width="128" height="24" alt="Кэт энерджи.">
		</a>
		<div class="page-footer__social social">
			<ul class="social__list">
				<li class="social__item social__item--vkontakte">
					<a class="social__link" href="https://vk.com/htmlacademy" target="_blank">
						<span class="visually-hidden">ВКонтакте.</span>
						<svg class="social__picture" width="27" height="17">
							<use xlink:href="img/sprite.svg#vk"></use>
						</svg>
					</a>
				</li>
				<li class="social__item social__item--youtube">
					<a class="social__link" href="https://www.youtube.com/user/htmlacademyru" target="_blank">
						<span class="visually-hidden">Ютуб.</span>
						<svg class="social__picture" width="24" height="19">
							<use xlink:href="img/sprite.svg#youtube"></use>
						</svg>
					</a>
				</li>
				<li class="social__item social__item--telegram">
					<a class="social__link" href="https://t.me/htmlacademy" target="_blank">
						<span class="visually-hidden">Телеграм.</span>
						<svg class="social__picture" width="20" height="17">
							<use xlink:href="img/sprite.svg#telegram"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="page-footer__copyright copyright">
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
				<span class="copyright__text">HTML Academy</span>
			</a>
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
				<span class="visually-hidden">Лого HTML Academy.</span>
				<svg class="copyright__picture" width="27" height="34">
					<use xlink:href="img/sprite.svg#html-academy"></use>
				</svg>
			</a>
		</div>
	</div>
</footer>
